
/* body {
    font-family: Arial, sans-serif;
  } */
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  
  .top-section {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f8f8f8;
  }
  
  .welcome-section {
    text-align: left;
  }
  
  .summary-section {
    text-align: right;
  }
  

  .main-content {
    gap: 40px;
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  .form-section {
    width: 40%;
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
  }
  
  .form-section label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-section input, 
  .form-section select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-section button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-section button:hover {
    background-color: #45a049;
  }
  

  .history-section {
    
    width: 55%;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
  }
  
  .history-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .history-table th, 
  .history-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .history-table th {
    background-color: #f2f2f2;
  }
  
  .history-table img {
    cursor: pointer;
  }
  